* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(60, 0, 60);
    max-width: 100%;
    margin: 0 .5rem;
}

header a {
    padding: 10rem;
    align-items: end;
}

header h1 {
    background-color: rgb(255, 255, 255);
    color: rgb(60, 0, 60, 0.95);
    padding: 1rem 0;
    text-align: center;
    font-weight: 100;
    font-size: 1.5rem;
}

#bigmenu {
    display: none;
}

#menu {
    display: grid;
    grid-template-columns: 1fr auto;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 700;
	padding: .5rem .75rem;
	background-color: rgb(60, 0, 60);
    color: rgb(255, 255, 255, .95);
}

#menu::after {
    content: "≡";
}

#menu.show::after {
    content: "X";
}

.temples-navigation {
    display: none;
}

.temples-navigation.show {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
    
.temples-navigation.show a {
    display: block;
    padding: .5rem 0.75rem;
    font-size: 1.2rem;
    font-weight: 200;
    color: rgb(255, 255, 255, 0.95);
    text-decoration: none;
    text-align: right;
}

.temples-navigation.show a:hover {
  background-color: white;
  color: rgb(60, 0, 60, .95);
  font-weight: 600;
  list-style-type: none;
  text-decoration: none;
}

.temples-navigation.show a:active {
    padding: 1.5rem 1.75rem;
    background-color: rgb(192, 0, 192, 1);
    color: rgb(255, 255, 255, 0.95);
    text-align: center;
    list-style-type: none;
    text-decoration: none;
}

main {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.templeCardDisplay {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    gap: 1em;
}

.templeCardDisplay li {
    list-style-type: none;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
    max-width: 100%;
    height: auto;
    justify-self: center;
}

.templeCardDisplay h2 {
    text-align: center;
    font-weight: 600;
    padding: 1rem;
}

.cardTable {
    margin: 0 auto;
    column-gap: 40px;
}

.rowTitle {
    text-align: right;
    padding: 0 .5rem;
    font-size: .8rem;
    font-weight: 400;
    color: rgb(60, 0, 60, 0.95);
}

.templeCardDisplay li img {
    margin: 1rem;
    width: 21rem;
    /* aspect-ratio: 400 / 250; */
    border: 1px solid rgb(187, 187, 187);
    box-shadow: 0 0 .8rem rgb(0, 0, 0, 0.5);
}

.rowData {
    color: rgb(0, 0, 0, .8);
}

footer {
    max-width: 100%;
    background: rgb(60, 0, 60, 1);
    color: rgb(255, 255, 255, 0.9);
    text-align: center;
    padding: 1rem;
    margin: .5rem .5rem 0 .5rem;
}