* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(60, 0, 60);
    max-width: 100%;
    margin: 0 .5rem;
}

header a {
    padding: 10rem;
    align-items: end;
}

header h1 {
    background-color: white;
    color: rgb(60, 0, 60, 0.95);
    padding: 1rem 0;
    text-align: center;
    font-weight: 100;
    font-size: 1.5rem;
}

#bigmenu {
    display: none;
}

#menu {
    display: grid;
    grid-template-columns: 1fr auto;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 700;
	padding: .5rem .75rem;
	background-color: rgb(60, 0, 60);
    color: rgba(255, 255, 255, .95);
}

#menu::after {
    content: "≡";
}

#menu.show::after {
    content: "X";
}

.temples-navigation {
    display: none;
}

.temples-navigation.show {
    display: flex;
    flex-direction: column;
}
    
.temples-navigation.show a {
    display: block;
    padding: .5rem 0.75rem;
    font-size: 1.2rem;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.95);
    text-decoration: none;
    text-align: right;
}

.temples-navigation.show a:hover {
  background-color: white;
  color: rgba(60, 0, 60, .95);
  font-weight: 600;
  list-style-type: none;
  text-decoration: none;
}

.temples-navigation.show a:active {
    padding: 1.5rem 1.75rem;
    background-color: rgb(192, 0, 192, 1);
    color: rgba(255, 255, 255, 0.95);
    text-align: center;
    list-style-type: none;
    text-decoration: none;
}

main {
    max-width: 100%;
    margin: 0 auto;
}

figure {
    width: 100%;
    height: auto;
    padding: 0;
}

figure img {
    width: 100%;
    height: auto;
    padding: .5em;
}

figure figcaption {
    color: rgb(60, 0, 60, 0.95);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    padding: 0.2rem;
}

footer {
    max-width: 100%;
    background: rgba(60, 0, 60, 1);
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 1rem;
    margin: .5rem .5rem 0 .5rem;
}