@media screen and (min-width: 40em) {
#menu {
    display: none;
}

#bigmenu {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
	justify-content: start;
	font-size: 2rem;
	font-weight: 700;
	padding: .5rem .75rem;
	background-color: rgb(60, 0, 60);
    color: rgba(255, 255, 255, .95);
}

header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 4fr repeat(5, 1fr);
}

header nav {
    grid-row: 1 / 2;
    grid-column: 2 / 7;
    display: block;
    align-content: space-evenly;
}

header h1 {
    grid-row: 2 / 3;
    grid-column: 1 / 7;
}
    
main {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}
    
.temples-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.temples-navigation li {
    width: 100%;
    justify-self: center;
}

.temples-navigation a {
    display: grid;
    padding: .5rem 0.75rem;
    font-size: 1.2rem;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.95);
    text-decoration: none;
    text-align: center;
}

.temples-navigation a:hover {
  background-color: white;
  color: rgba(60, 0, 60, .95);
  font-weight: 600;
  list-style: none;
  text-decoration: none;
}

.temples-navigation a:active {
    background-color: rgb(192, 0, 192, 1);
    color: rgba(255, 255, 255, 0.95);
    text-align: center;
    list-style-type: none;
    text-decoration: none;
}
}